/*Add Project Wizard Pages Styles */

/* General styles */
.onMiddle{
    margin-left: 50%;
}

.smallInputNumber{
    width: 60px;
}

.withMargin{
    margin-left: 35px;
}

.text_align_center{
    text-align: center;
}

.smallBoldText{
    font-family:Comic Sans MS,Verdana,Helvetica;
    font-size:13px;
    font-weight: bolder;
}

/* Step 1 specific*/
#content{
    position: relative;
    background-color:#ffffff;
}

#userDetailsBox
{
    background-color:#ffffff;
    position: relative;
    font-size:13px;
    height:130px;
    margin-left:25px;
    margin-top:20px;
    width:200px;
    z-index:4;
    border: 2px solid;
    border-color: #000;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#userDetailsBox .image
{
    position:absolute;
    width:100px;
}

#userDetailsBox .name
{
    color:#000000;
    position:absolute;
    font-size:13px;
    height:21px;
    left:105px;
    top:20px;
    width:90px;
}

#userDetailsBox .rating
{
    color:#000000;
    position:absolute;
    font-size:13px;
    height:21px;
    left:105px;
    top:50px;
    width:90px;
}

#userDetailsBox .profile
{
    color:#000000;
    position:absolute;
    font-size:13px;
    height:21px;
    left:105px;
    top:70px;
    width:90px;
}

#userDetailsTextBox
{
    background-color:#ffffff;
    position: relative;
    font-size:13px;
    height:130px;
    width: auto;
    margin-left:10px;
    margin-top:20px;
    margin-right: 10px;
    z-index:4;
    border: 2px solid;
    border-color: #000;
    word-break: break-all;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#termsAndConditionsBox textarea{
    width: 950px;
    margin-left: 35px;
}

#termsAndConditionsBox h1{
    margin-left: 35px;
    font-size: 30px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#breadcrumbsBox{
    margin-top:  20px;
    margin-left: 35px;
    margin-bottom: 20px;
}

#breadcrumbsBox img.step1{
    width:930px;
    height:50px;
    background:url(../images/content/addprjsteps.png) 0 0 no-repeat;
}

#breadcrumbsBox img.step2{
    width:930px;
    height:50px;
    background:url(../images/content/addprjsteps.png) 0 -55px no-repeat;
}

#breadcrumbsBox img.step3{
    width:930px;
    height:50px;
    background:url(../images/content/addprjsteps.png) 0 -110px no-repeat;
}

#breadcrumbsBox img.step4{
    width:930px;
    height:50px;
    background:url(../images/content/addprjsteps.png) 0 -165px no-repeat;
}

#breadcrumbsBox img.step5{
    width:930px;
    height:50px;
    background:url(../images/content/addprjsteps.png) 0 -220px no-repeat;
}

#breadcrumbsBox img.step6{
    width:930px;
    height:50px;
    background:url(../images/content/addprjsteps.png) 0 -275px no-repeat;
}

#acceptCheckBox{
    width: 100%;
    text-align: center;
}

#nextStepButton{
    margin-left: 89%;
    cursor: pointer;
    width: 79px;
    height: 31px;
    margin-right: 50px;
    background:url(../images/content/en/nextStep.png) 0 0 no-repeat;
}

#addPrjFooter{
    margin-left: 35px;
}
#addPrjFooter td.col1{
    width:500px;
}
#addPrjFooter td.col2{
    width:200px;
}
#addPrjFooter td.col3{
    width:200px;
}


/* Page 2 specific */
#storyBox{
    position: relative;
    height:400px;
}

#storyBox h1{
    margin-left: 35px;
    font-size: 30px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#storyImage
{
    font-size:32px;
    height:320px;
    margin-left:35px;
    width:260px;
    z-index:25;
    position: absolute;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#storyFormCol1
{
    font-size:13px;
    height:320px;
    margin-left:334px;
    width:150px;
    z-index:34;
    position: absolute;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#storyFormCol1 input{
    margin-bottom: 20px;
}

#storyFormCol1 select{
    margin-bottom: 20px;
}

#storyFormCol2
{
    font-size:13px;
    height:85px;
    margin-left:525px;
    width:449px;
    z-index:40;
    position: absolute;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#storyFormCol2 textarea
{
    width: 450px;
    resize: none;
}

#storyFormCol2 .storyTags
{
    color:#000000;
    font-size:20px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#storySynopsys textarea{
    width: 100%;
    height: 200px;
    resize: vertical;
    font-size: 13px;
    font-family: Comic Sans MS,Verdana,Helvetica;
}

#serialStorySetup{
    width: 100%;
    text-align: justify;
}

#serialStorySetup h2{
    margin-left: 35px;
    font-size: 22px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#storyCountsValues{
    position: relative;
    margin-top: 20px;
    height: 100px;
}

#storyCountsValues #chapterCount {
    color: #000000;
    font-size: 16px;
    height: 21px;
    margin-left: 35px;
    width: 54px;
    z-index: 69;
    position: absolute;
    font-family: Comic Sans MS,Verdana,Helvetica;
}

#storyCountsValues #chapterCount p {
    margin-bottom: 10px;
    margin-left: 50%;
    text-align: center;
}

#storyCountsValues #chapter-wordcount {
    color: #000000;
    font-size: 16px;
    height: 21px;
    margin-left: 370px;
    width: 148px;
    z-index: 71;
    position: absolute;
    font-family: Comic Sans MS,Verdana,Helvetica;
}

#storyCountsValues #chapter-wordcount p{
    margin-bottom: 10px;
    text-align: center;
}

#storyCountsValues #chapter-delay {
    color: #000000;
    font-size: 16px;
    height: 21px;
    margin-left: 720px;
    width: 188px;
    z-index: 73;
    position: absolute;
    font-family: Comic Sans MS,Verdana,Helvetica;
}

#storyCountsValues #chapter-delay p{
    margin-bottom: 10px;
    text-align: center;
}

#storyUploadBox {
    background-color: #ffffff;
    font-size: 13px;
    height: 55px;
    margin-left: 58px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 922px;
    z-index: 23;
    border: 2px solid;
    border-color: #000;
    position: relative;
    font-family: Comic Sans MS,Verdana,Helvetica;
}

#uploadSampleContainer{
    font-size: 18px;
    height: 36px;
    margin-left: 130px;
    margin-top:14px;
    width: 277px;
    z-index: 24;
    position: absolute;
    font-family: Comic Sans MS,Verdana,Helvetica;
}

.uploadSampleButton{
    cursor:pointer;display:inline-block;background-color:#ffffff;
    background-repeat:no-repeat;
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
    color-stop(0.25, #ffffff), to(#ffffff));
    background-image:-webkit-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
    background-image:-moz-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
    background-image:-ms-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
    background-image:-o-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
    background-image:linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
    padding:4px 14px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;
    font-size:18px;
    line-height:16px;
    border:1px solid #ccc;border-bottom-color:#bbb;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
    -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition:0.1s linear all;
    -moz-transition:0.1s linear all;
    transition:0.1s linear all;
    width:277px;}
.uploadSampleButton:hover{
    background-position:0 -15px;color:#333;text-decoration:none;
}

#uploadStoryContainer{
    font-size: 18px;
    height: 36px;
    margin-left: 530px;
    margin-top:14px;
    width: 277px;
    z-index: 48;
    position: absolute;
    font-family: Comic Sans MS,Verdana,Helvetica;
}

.uploadStoryButton{
    cursor:pointer;display:inline-block;background-color:#ffffff;
    background-repeat:no-repeat;
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
    color-stop(0.25, #ffffff), to(#ffffff));
    background-image:-webkit-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
    background-image:-moz-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
    background-image:-ms-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
    background-image:-o-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
    background-image:linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
    padding:4px 14px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;
    font-size:18px;
    line-height:16px;
    border:1px solid #ccc;border-bottom-color:#bbb;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
    -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition:0.1s linear all;
    -moz-transition:0.1s linear all;
    transition:0.1s linear all;
    width:277px;}
.uploadStoryButton:hover{
    background-position:0 -15px;color:#333;text-decoration:none;
}

#skipBackStoryAndNextButton{
    margin-left: 89%;
    cursor: pointer;
    width: 79px;
    height: 31px;
    margin-right: 50px;
    background:url(../images/content/en/nextStep.png) 0 0 no-repeat;
}

#backStoryItems{
    width: 100%;
    position: relative;
    text-align: justify;
}

#backStoryItems .backStoryItemsHeader{
    width: 100%;
    height: 40px;
}

#backStoryItems .backStoryItemsHeader .backStoryItemsMainTitle{
    float:left;
    width: 50%;
}

#backStoryItems .backStoryItemsHeader .backStoryItemsMainToolbar{
    float:right;
    width: 50%;
}

#backStoryItems .backStoryItemsHeader .backStoryItemsMainTitle h2{
    margin-left: 35px;
    font-size: 22px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#backStoryItems .item{
    margin-top: 20px;
}

#backStoryItems .item .title{
    margin-left: 35px;
    font-size: 20px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#backStoryItems .item .content{
    text-align: justify;
    margin-left: 35px;
    font-size: 17px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#backStoryItems .content.video{
    margin-left: 169px;
    width: 677px;
    z-index: 26
}

#backStoryItems content.large{
    width: 100%;
}

#backStoryItems .content.twoColsContainer{
    width: 100%;
    height: auto;
    overflow: hidden;
}

#backStoryItems .content.twoColsContainer .col1{
    float:left;
    padding-right: 10px;
    width: 48%;
}

#backStoryItems .content.twoColsContainer .col2{
    float:left;
    margin-left: 5px;
    width: 50%;
}

/* Step 3 specific*/
#storyTermsBox{
    position: relative;
}

#storyTermsBox h1{
    margin-left: 35px;
    font-size: 30px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#storyTermsBox .storyTerm{
    position: relative;
}

#storyTermsBox .storyTerm .title h2{
    position: relative;
    margin-left: 35px;
    font-size: 22px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#storyTermsBox .storyTerm .content{
    position: relative;
    text-align: justify;
    margin-left: 35px;
    width: 100%;
}

#storyTermsBox .storyTerm .content .onMiddle input{
    font-size: 20px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#storyTermsBox .storyTerm .content .onMiddle label{
    vertical-align: middle;
    font-size: 20px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#storyTermsBox .storyTerm .content #uploadContainer{
    width: 100%;
    height:105px;
}

#storyTermsBox .storyTerm .content #uploadContainer #uploadProofFileBox{
    float: left;
    width: 25%;
}

#storyTermsBox .storyTerm .content #uploadContainer #uploadProofFileBox #uploadProofFile{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    width: 165px;
    height: 28px;
    cursor: pointer;
    background:url(../images/content/en/uploadProofFile.png) 0 0 no-repeat;
}

#storyTermsBox .storyTerm .content #uploadContainer fieldset{
    float: left;
    overflow: hidden;
    width: 72%;
    height:100px;
    border: 2px black solid;
}

#storyTermsBox .storyTerm .content #uploadContainer fieldset legend{
    margin-left: 20px;
    font-size: 20px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#storyTermsBox .storyTerm .content #storyProjections{
    width: 100%;
    height: 100px;
    border: 3px black solid;
    line-height: 2;
    font-size: 22px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#storyTermsBox .storyTerm .content #storyProjections .col1{
    width: 25%;
    float:left;
    text-align: center;
}

#storyTermsBox .storyTerm .content #storyProjections .col2{
    width: 35%;
    float:left;
    text-align: center;
}

#storyTermsBox .storyTerm .content #storyProjections .col3{
    width: 20%;
    float:left;
    text-align: center;
}

#storyTermsBox .storyTerm .content #storyProjections .col4{
    width: 20%;
    float:left;
    text-align: center;
}

#storyTermsBox .storyTerm .content #storyDerrivativesProgressBar{
    width: 100%;
    border: 3px black solid;
}

#storyTermsBox .storyTerm .content #storyDerrivativesProgressBar td{
    border-left: 3px black solid;
    border-right: 3px black solid;
}

#storyTermsBox .storyTerm .content #storyDerrivativesProgressBar td.filled{
    background-color: #CCCCCC;
}

#storyTermsBox .storyTerm .content #storyDerrivativesProgressBar td.col1{
    width: 10%;
}
#storyTermsBox .storyTerm .content #storyDerrivativesProgressBar td.col2{
    width: 20%;
}
#storyTermsBox .storyTerm .content #storyDerrivativesProgressBar td.col3{
    width: 15%;
}
#storyTermsBox .storyTerm .content #storyDerrivativesProgressBar td.col4{
    width: 20%;
}
#storyTermsBox .storyTerm .content #storyDerrivativesProgressBar td.col5{
    width: 20%;
}
#storyTermsBox .storyTerm .content #storyDerrivativesProgressBar td.col6{
    width: 15%;
}

#storyTermsBox .storyTerm .content #storyDerrivativesProgressBarMilestones{
    width: 100%;
    font-size: 10px;
    height: 40px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#storyTermsBox .storyTerm .content #storyDerrivativesProgressBarMilestones .col1{
    float: left;
    margin-left: 9%;
}
#storyTermsBox .storyTerm .content #storyDerrivativesProgressBarMilestones .col2{
    float: left;
    margin-left: 16%;
}
#storyTermsBox .storyTerm .content #storyDerrivativesProgressBarMilestones .col3{
    float: left;
    margin-left: 11%;
}
#storyTermsBox .storyTerm .content #storyDerrivativesProgressBarMilestones .col4{
    float: left;
    margin-left: 14%;
}
#storyTermsBox .storyTerm .content #storyDerrivativesProgressBarMilestones .col5{
    float: left;
    margin-left: 15%;
}

/* Step 4 specific */
#promosBox{
    position: relative;
}

#promosBox h1{
    margin-left: 35px;
    font-size: 30px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#promosBox p{
    margin-left: 35px;
}

#promosBox .promo{
    position: relative;
    width: 100%;
    margin-left: 35px;
    border: 3px black solid;
    margin-top: 10px;
    margin-bottom: 10px;
}

#promosBox .promo .title h2{
    position: relative;
    margin-left: 35px;
    font-size: 22px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#promosBox .promo .content{
     position: relative;
     text-align: justify;
     margin-left: 35px;
     height: 200px;
     width: 100%;
 }

#promosBox .promo .content .col1{
    height: 100%;
    margin-top: 80px;
    position: absolute;
    width: 18%;
}

#promosBox .promo .content .col1 h2{
    font-size: 22px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#promosBox .promo .content .col2{
    height: 100%;
    text-align: center;
    float: left;
    margin-left: 20%;
    width: 55%;
    position: absolute;
}

#promosBox .promo .content .col2 h3{
    font-size: 17px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#promosBox .promo .content .col2 p{
    font-size: 15px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}


#promosBox .promo .content .col3{
    height: 100%;
    vertical-align: middle;
    text-align: center;
    float: left;
    margin-left: 75%;
    width: 21.6%;
    background-color: #CCCCCC;
}

#promosBox .promo .content .col3 h2{
    margin-top: 60px;
    font-size: 22px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#promosBox .promo .content .col3 p{
    font-size: 15px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

/* Step 5 specific */
#paymentMethodsBox{
    position: relative;
}

#paymentMethodsBox h1{
    margin-left: 35px;
    font-size: 30px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#paymentMethodsBox p{
    margin-left: 35px;
}

#paymentMethodsBar{
    width: 100%;
    position: relative;
}

#paymentMethodsBar #paymentMethodsList{
    float: left;
    width: 70%;
}

#paymentMethodsBar #paymentMethodsList ul li
{
    display: inline;
    list-style-type: none;
    float: left;
    width: 150px;
}

#paymentMethodsBar #paymentMethodsContract{
    text-align: justify;
    margin-left: 70%;
    width: 30%;
}

#paymentMethodsBar #paymentMethodsContract a{
    margin-left: 78%;
}

#paymentMethodsBar #paymentMethodsContract a span{
    cursor: pointer;
}

#paymentDetails{
    width: 100%;
    height: 400px;
    position: relative;
}

#paymentDetails #paymentDetailsFormBox{
    float: left;
    width: 60%;
}

#paymentDetails #paymentDetailsSummary{
    background-color: #CCCCCC;
    float: left;
    width: 40%;
    height: 100%;
}

#paymentDetails #paymentDetailsSummary h3{
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 20px;
}

#paymentDetails #paymentDetailsSummary .col1{
    margin-top:30%;
    float: left;
    width: 40%;
}

#paymentDetails #paymentDetailsSummary .col1 .item{
    float: left;
    width: 70%;
}

#paymentDetails #paymentDetailsSummary .col1 .price{
    float: right;
    text-align: right;
    font-size: 19px;
    width: 30%;
}

#paymentDetails #paymentDetailsSummary .col2{
    margin-left: 2%;
    margin-right: 2%;
    margin-top:30%;
    float: left;
    text-align: justify;
    font-size: 11px;
    width: 56%;
}

/* Step 6 specific */
.postProjectButton{
    margin-left: 89%;
    cursor: pointer;
    width: 79px;
    height: 31px;
    margin-right: 50px;
    background:url(../images/content/en/postProject.png) 0 0 no-repeat;
}

#previewProjectHeader{
    position: relative;
}

#previewProjectHeader h1{
    margin-left: 35px;
    font-size: 30px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#previewProjectHeader p{
    margin-left: 35px;
}

#previewProjectBox{
    margin-left: 35px;
    margin-top: 10px;
    position: relative;
    height: 486px;
}

#previewProjectBox #mainImage{
    float:left;
    width:378px;
    height: 486px;
}

#previewProjectBox #mainDetails{
    float:left;
    width: 524px;
    height: 486px;
}

#previewProjectBox #mainDetails .mainText{
    width: 524px;
    height: 266px;
    overflow-y: auto;
}

#previewProjectBox #mainDetails .ebookBuy{
    height: 100px;
    border: 1px black solid;
    margin-top: 10px;
    margin-bottom: 10px;
}

#previewProjectBox #mainDetails .ebookBuy .col1{
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 38px;
}
#previewProjectBox #mainDetails .ebookBuy .col2{
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 28px;
    font-size: 30px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}
#previewProjectBox #mainDetails .ebookBuy .col3{
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 28px;
    font-size: 30px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}
#previewProjectBox #mainDetails .ebookBuy .col4{
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 38px;
}

#previewProjectBox #mainDetails .shareBuy{
    height: 100px;
    border: 1px black solid;
    margin-top: 10px;
    margin-bottom: 10px;
}

#previewProjectBox #mainDetails .shareBuy .col1{
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 38px;
}
#previewProjectBox #mainDetails .shareBuy .col2{
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 28px;
    font-size: 30px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}
#previewProjectBox #mainDetails .shareBuy .col3{
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 28px;
    font-size: 30px;
    font-family:Comic Sans MS,Verdana,Helvetica;
}
#previewProjectBox #mainDetails .shareBuy .col4{
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 38px;
}

#storyDetailsTable{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    border-collapse: collapse;
    font-family:Comic Sans MS,Verdana,Helvetica;
}

#storyDetailsTable th{
    width: 200px;
    border: 2px solid black;
    background-color: #CCCCCC;
}

#storyDetailsPilotBox{
    width: 100%;
    height: 40px;
    border: 2px solid black;
}

#storyDetailsPilotBox .readPilotButton{
    position: absolute;
    margin-top:8px;
    left: 35%;
}

#storyDetailsPilotBox #goToReadingPanel{
    position: absolute;
    font-size: 11px;
    font-family:Comic Sans MS,Verdana,Helvetica;
    margin-top:20px;
    left: 85%;
}

.readPilotButton{
    cursor:pointer;display:inline-block;background-color:#ffffff;
    background-repeat:no-repeat;
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
    color-stop(0.25, #ffffff), to(#ffffff));
    background-image:-webkit-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
    background-image:-moz-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
    background-image:-ms-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
    background-image:-o-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
    background-image:linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
    padding:4px 14px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;
    font-size:18px;
    line-height:16px;
    border:1px solid #ccc;border-bottom-color:#bbb;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
    -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition:0.1s linear all;
    -moz-transition:0.1s linear all;
    transition:0.1s linear all;
    width:277px;}
.readPilotButton:hover{
    background-position:0 -15px;color:#333;text-decoration:none;
}
/*END Add Project Wizard Pages Styles */