form {
    margin: 0;
}

.form-vertical-item {
    margin-top: 15px;
    width: 250px;
    font-size: 15px;
}

.form-input {
    border: 1px solid #4fbccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);

    font-family: sans-serif;
    font-size: 15px;

    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    -webkit-writing-mode: horizontal-tb;

    margin: 0;
    padding: 7px 6px 5px;

    width: 100%;
}

.form-input:focus {
    border-color: #a4baca;
    background: #f5f7f9;
}

.form-input-hint {
    font-size: 10px;
    text-align: center;

    position: relative;

    left: 35%;
    width: 60%;
}

.form-checkbox {
    margin-right: 5px;
}

.form-select {
    padding: 2px 6px;
}

.button-gray {
    border: 1px solid #AAA;
    background-color: #EEE;
    background-position: 50% 50%;
    background-image: -moz-linear-gradient(center top , #EEE, #BBB);

    font-family: Arial;
    font-weight: bold;
    color: #222222;
    border-radius: 3px 3px 3px 3px;
    font-size: 14px;
    padding: 5px 8px 6px;

    line-height: 1em;
    position: relative;
    text-decoration: none;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 1px 0 0 rgba(255, 255, 255, 0.05) inset, -1px 0 0 rgba(255, 255, 255, 0.05) inset, 0 1px 0 rgba(255, 255, 255, 0.2) inset;

    margin: 0;
    vertical-align: baseline;

    cursor: pointer;

    width: auto;
}

.button-gray:active {
    background: none repeat scroll 0 0 #BBB;
    display: inline;
}

.button-white {
    border: 1px solid #AAA;
    background-color: #FFF;
    background-position: 50% 50%;

    font-family: Arial;
    font-weight: bold;
    color: #222222;
    border-radius: 3px 3px 3px 3px;
    font-size: 14px;
    padding: 5px 8px 6px;

    line-height: 1em;
    position: relative;
    text-decoration: none;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 1px 0 0 rgba(255, 255, 255, 0.05) inset, -1px 0 0 rgba(255, 255, 255, 0.05) inset, 0 1px 0 rgba(255, 255, 255, 0.2) inset;

    margin: 0;
    vertical-align: baseline;

    cursor: pointer;

    width: auto;
}

.button-white:active {
    background: none repeat scroll 0 0 #EEE;
    display: inline;
}