form {
    margin: 0;
}

form label{
    margin-bottom: 0px;
}

.form-vertical-item{
    width: 210px;
    font-size: 13px;
}

.form-input {
    border: 1px solid #4fbccc;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    font-size: 13px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    -webkit-writing-mode: horizontal-tb;
    margin: 0;
    padding: 7px 6px 5px;
    width: 100%;
}

.form-input:focus {
    border-color: #a4baca;
    background: #f5f7f9;
}

.form-checkbox {
    margin-right: 5px;
}

.form-select {
    padding: 2px 6px;
}