#banner {
	background: none repeat scroll 0 0 #FFFFFF;
	border-top: 5px solid #EAEAEA;
}

#banner-welcome {
	margin: 0 auto;
	text-align: center;
}

#loginbar {
	text-align: center;
	margin: 0 auto;
	padding-top: 5em;
	padding-bottom: 15em;
}