.page-home {
    min-height: 600px;
}

.home-container {
    width: 1024px;
    margin: 0 auto;
}

.top-banner {
    margin-top: 20px;
}

.mboard-wrapper {
    margin-top: 20px;
}

.projects-wrapper {
    margin-top: 20px;
    text-align: center;
}

.global-stats-table {
    width: 100%;
}
.global-stats-table td {
    text-align: center;
    font-size: 25px;
}
.global-stats-table th {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
}

.fb-projects-wrapper {
    margin-top: 20px;
    text-align: center;
}

.fb-overlay {
    background-color: rgba(200, 200, 200, 0.7);
    height: 360px;
    margin-top: -550px;
    padding-top: 200px;
    position: relative;
    z-index: 100;
}

 .fb-overlay-img {
    text-align: center;
}