.home-container {
    left: 0;
    margin-top: 30px;
}

.home-content {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
}

.banner-welcome {
    position: relative;
    text-align: center;
    top: 50%;
    font-size: 35px;
}

.home-buttons {
    margin-top: 20px;
    position: relative;
    text-align: center;
    top: 50%;
}