/******************************************************/
/*******************LOGIN STYLES***********************/
/******************************************************/

.login-sections{

}

.login-section{
    background: #f9f9f9;
    height: 600px;
    padding-top: 40px;
}
    .login-form-header-title{
        font-size: 16px;
        color: #212121;
    }
    .login-form-header{
        font-size: 13px;
        color: #707070;
    }
    .login-forgot-password{
        font-size: 13px;
        color: #26ade4;
    }
    #login-button{
        width: 100%;
    }

.signup-section{
    background: #eaeaea;
    height: 600px;
    padding-top: 40px;
}
    .sign-up-form-items .form-vertical-item{
        margin-left: 60px;
    }
    .signup-updates-section{
        padding-top: 5px;
        font-size: 13px;
    }
    .signup-updates-section label{
        width: 90%;
        padding-bottom: 5px;
    }
    .register-button{
        width: 100%;
    }

.fbook-section{
    background: #f9f9f9;
    height: 600px;
    padding-top: 40px;
}