/******************************************************/
/*******************LOGIN STYLES***********************/
/******************************************************/

.login-sections{

}

.login-section{
    background: #f9f9f9;
    min-height: 645px;
    padding-top: 40px;
}
    .login-form-header-title{
        font-size: 16px;
        color: #212121;
    }
    .login-form-header{
        font-size: 13px;
        color: #707070;
    }
    .login-forgot-password{
        font-size: 13px;
        color: #26ade4;
    }
    #login-button{
        width: 100%;
    }

.signup-section{
    background: #eaeaea;
    height: 645px;
    padding-top: 40px;
}
    .sign-up-form-items .form-vertical-item{
        margin-left: 10%;
        width: 70%;
    }
    .signup-updates-section{
        padding-top: 5px;
        font-size: 13px;
    }
    .signup-updates-section label{
        width: 90%;
        padding-bottom: 5px;
    }
    .register-button{
        width: 100%;
    }

    .register-social-fb{
        margin: 23px 0 23px 20px;
    }

.fbook-section{
    background: #f9f9f9;
    height: 645px;
    padding-top: 40px;
}

.upreader-status-data{
    background: #ffffff;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 35px;
}
    .upreader-status-data-title{
          font-size: 26px;
          color: #57575a;
    }
    .upreader-status-data-value{
           font-size: 30px;
           color: #57575a;
    }
.before-footer-section{
    background: #0c3241;
    height: 405px;
}