/* Start general styling */
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video { display: block;}
mark,rp,rt,ruby,summary,time { display: inline; }
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, 
em, embed, fieldset, figcaption, figure, font, footer, form,  h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav,
object, ol, output, p, pre, progress,q, s, samp, section, small, span, source, strike, strong, sub, sup,table, tbody, tfoot, thead, th, tr, tdvideo, tt,u, ul, var
{
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0; 
	padding: 0;
	border: 0;
	outline: 0;
    vertical-align: top; 
}
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
audio:not([controls]) { display: none; }
[hidden] { display: none; }
figure { margin: 0; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
table, table td { 
	padding:0;
	border:none;
	border-collapse:collapse;
}
img { vertical-align:top; }
embed { vertical-align:top; }


html,body { height: 100%; margin: 0; padding: 0; }

body {
	background: none repeat scroll 0 0 #eee;
	font: 16px/1.5 Tahoma, Arial, FreeSans, sans-serif;
	border: 0px none;
	text-align: left;
	width: 100%; 
	overflow-x: hidden; 
}
::-moz-selection {
	background: #34ade8;
	color: #ffffff;
	text-shadow: none;
}

::selection {
	background: #34ade8;
	color: #ffffff;
	text-shadow: none;
}

img {
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
	border: 0;
	outline: 0;
}

/* Correct overflow not hidden in IE9 */
svg:not(:root)  { overflow: hidden; }
a:link,a:visited { text-decoration: none; }
a:hover,a:active { text-decoration: none; }

#wrapper{
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    position: relative;
    width:1024px;
}

/* End general styling */

.page {
    background: none repeat scroll 0 0 #ffffff;
}

/* Start top bar styling */
.topbar-header {
    width: 100%;
	height: 60px;
    background-color: #222;
    color: #fff;
}

.topbar-header a {
    color: white
}

.topbar-content {
    width: 980px;
    margin: 0 auto;
}

.topbar-logo {
    width: 170px;
    float: left;
}

.topbar-logo-text {
    font-size: 2em;
    font-weight: bold;
}

.topbar-links {
    margin-left: 180px;
    margin-right: 300px;

    top: 25px;
    position: relative;
}

.topbar-info {
    float: right;
    text-align: center;
    margin-top: 3px;
}

.topbar-nav {
    margin-bottom: 5px;
    font-size: 12.5px;
    font-weight: bold;
}

.topbar-nav ul { display: inline-block; }
.topbar-nav ul li, .topbar-nav ul li a { float: left; color: #fff; margin-right: 7px; }

.search-bar {
    border: 1px solid #4fbccc;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);

    font-family: sans-serif;
    font-size: 15px;

    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    -webkit-writing-mode: horizontal-tb;
    margin: 0;
    padding: 2px 6px;

    width: 100%;
}

/* column container */
.colmask {
	position: relative; /* This fixes the IE7 overflow hidden bug */
	clear: both;
	float: left;
	width: 100%; /* width of whole page */
	overflow: hidden; /* This chops off any overhanging divs */
}


/* End top bar styling */

.bottom-footer {
    position: relative;
    height: 150px;
    clear: both;
    width: 100%;
    color: #222;
}

.bottom-footer-content {
    width: 980px;
    margin: 0 auto;

    font-size: 15px;
}.leftmenu .col1 {
	width: 71%; /* right column content width */
	left: 102%; /* 100% plus left column left padding */
}

.leftmenu .col2 {
	width: 15%;
	/* left column content width (column width minus left and right padding) */
	left: 6%;
	/* (right column left and right padding) plus (left column left padding) */
}

/* Footer styles */
#footer {
	clear: both;
	float: left;
	width: 100%;
	border-top: 1px solid #ffffff;
	bottom: 0px;
}

#footer p {
	padding: 10px;
	margin: 0;
}


