/** START project content layout **/
.story-header-details {
    margin-left: 300px;
}

.story-synopsis {
    font-size: 12px;
    height: 225px;
    overflow: auto;
}

.story-buy-box {
    border: 1px solid #333;
    padding: 8px 30px;
    overflow: hidden;
}

.story-buy-box div {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
}

.story-buy-box-type {
}

.story-buy-box-price {
    margin-left: 10%;
}

.story-buy-box-future {
    margin-left: 10%;
}

.story-buy-ebook, .story-buy-shares {
    margin-top: 11px;
}

.story-types-wrapper {
    margin-top: 10px;
}

.story-types-table {
    border: 1px solid #333333;
    font-size: 13px;
    width: 100%;
}

.story-types-table td,
.story-types-table th {
    border-bottom: none;
    border-left: 1px solid #333;
    text-align: center;
}

.story-types-table th {
    background-color: #ddd;
}

.story-read-wrapper {
    margin-top: 10px;
    border: 1px solid #333333;
    overflow: hidden;
}

.story-read-button {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.story-read-button .button-white {
    width: 200px;
    font-weight: normal;
}

.story-promo-item-wrapper {
    margin-top: 20px;
}

.story-promo-item {
    margin-bottom: 20px;
    overflow: hidden;
    position: static;
    width: 100%;
}

.story-promo-item-content {
    margin: 10px 0;
    clear: both;
    position: static;
}

.story-promo-item-social {
    margin-top: 12px;
    padding-top: 5px;
}

.story-promo-item-social p {
    text-align: right;
}

.story-promo-item-social p span {
    display: inline-block;
}

.story-promo-item-end {
    text-align: center;
}

/** END project content layout **/