/******************************************************/
/*****************GENERAL STYLES***********************/
/******************************************************/
@import url(http://fonts.googleapis.com/css?family=Raleway:300,800);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic);

.container{
    width: 960px !important;
}

body{
    background:#282828;
}
.nopadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.right{
    float: right;
 }

.left{
    float:left;
}

.horizontal-list{
    padding-left: 0px;
    padding-right: 0px;
    overflow:hidden;
    list-style: none;
}
.horizontal-list li{
    float:left;
}

.white-text{
    color: #ffffff;
}

.black-text{
    color: #000000;
}

.button-link{
    color: inherit;
}
    .button-link:visited, button-link:link, button-link:active
    {
        color: inherit;
        text-decoration: none;
    }
    .button-link:hover{
        color: #00a9d3;
    }

.green-button-link{
    color: #85ab00;
    text-decoration: none;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    color:#ffffff;
    border:none;
    font-family: 'Raleway', sans-serif;
    font-weight:800;
    font-size:18px;
    background:#85ab00;
    padding: 5px 5px 5px 5px;
}    
    .green-button-link:visited, green-button-link:link, green-button-link:active
    {
        color: #ffffff;
        text-decoration: none;
    }
    .green-button-link:hover{
        color: inherit;
        text-decoration: none;

    }

/******************************************************/
/*****************HEADER STYLES***********************/
/******************************************************/
header{
    background-color:#212121;
    height:52px;
}

#logo{
    margin-top:12px;
}

#header-upreader{    
}

#header-home-link{
    float:right;
}

.header-divider{
    float: left;
    padding-right:10px;
}

.header-text-large{ 
    padding-top:5px;
    font-family:'Roboto Black', Roboto;
    float:left;
    font-size:18pt;  
    line-height:1;
}

.header-text-small{
    float:left;
    font-family:'Roboto', Roboto;    
    font-size:12pt;
    line-height:0.1;
}
.header-search{
    float:left;
    margin-top:14px;
}

/******************************************************/
/*****************BANNER STYLES***********************/
/******************************************************/
.homepage-banner{
    background:url("../img/homepage/banner.png");
    height: 500px;
}
.banner-upper-text{
    color: #ffffff;
    padding-top:30px;
    font-family: 'Raleway';
    font-weight:300;
    font-size: 15pt;
}

.banner-middle-text{
    color: #ffffff;
    padding-top:170px;
    font-family: 'Raleway', sans-serif;
    font-weight:800;
    font-size: 30pt;
    line-height:0.9;
}

.banner-lower-text{
    color: #ffffff;
    font-family: 'Raleway';
    font-weight:300;
    font-size: 15pt;
}


/******************************************************/
/*****************HOMEPAGE MAINCONTENT STYLES**********/
/******************************************************/
.homepage-main-content{
    background:#ffffff;
    height:500px;
}

.homepage-project-cards{
    background:#eaeaea;
    overflow: hidden;
    padding-left: 10px;
    padding-bottom:20px;
}
    .homepage-project-cards h1{
        padding-left: 15px;
    }

/******************************************************/
/*******************PROJECT CARD STYLES****************/
/******************************************************/

.project-card{
    width: 230px;
    float:left;
    padding-right: 5px;
}

.project-card-book-logo{
    width: 230px;
}

.project-card-green-text{  
    font-family: Roboto;    
    color:#92b067;
    font-weight:bold;
    font-size: 14pt;
    line-height:1.2;
}
.project-card-small-text{  
    padding-top:3px;
    font-family: Roboto;    
    color:#7a7c7e;
    font-weight:bold;
    font-size: 9pt;
}
    .project-card-book-data{
        overflow:hidden;
         background:#ffffff;
        padding-left: 5px;
        padding-top:10px;
    }
        .project-card-book-title{
            float:left;
            width: 180px;
            font-family: Roboto;
            font-weight:bold;
            color:#7a7c7e;
            font-size:10pt;
        }
        .project-card-book-type-logo{  
            float:right;
        }

    .project-card-book-author{  
        overflow:hidden;
        padding-left:5px;
        background:#f2f2f2; 
        height: 30px;
        font-family: Roboto;
        color:#646467;
        font-size:10pt;
    }
    .project-card-author-data{  
        background:#ffffff;
        padding-left: 5px;      
        height:50px;
    }
        .project-card-author-data-left{
            float:left;
            padding-top:12px;
            font-family: Roboto;
            color:#949496;
            font-weight:bold;
            font-size: 13pt;
        }
        .project-card-author-data-right{
            float:right;
            font-family: Roboto;            
            color:#92b067;
            font-weight:bold;
            font-size: 25pt;
            text-align:right;
        }
    .project-card-financial-data{
        overflow:hidden;
        padding-left:5px;
        background:#f2f2f2;
    }
       .project-card-financial-data-left{        
            background:#f2f2f2;
            float:left;
        }
        .project-card-financial-data-right{        
            background:#f2f2f2;
            float:right;
        }
            .project-card-financial-data-right-value{ 
                font-family: Roboto;
                color:#1192a3;
                font-weight:bold;
                font-size: 25pt;
                line-height:1.3;
            }
            .project-card-financial-data-right-label{
                font-family: 'Roboto Black','Roboto';
                color:#1192a3;
                font-size: 10pt;
            }

    .project-card-detail-row-with-label{
        background:#ffffff;
        float:left;
        overflow:hidden;
        width:100%;
        padding-left:5px;
        padding-top:5px;
        padding-bottom:5px;
    }
        .project-card-line-text-separator{
            background:#ffffff;
            border-bottom: 3px solid #eaeaea; 
            line-height:0.2em; 
            padding-left:15px;
            margin-top:10px; 
        }
        .project-card-line-text-separator span{
            background:#fff; 
            padding:0 5px; 
        }