/******************************************************/
/*****************GENERAL STYLES***********************/
/******************************************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,900,300);

.container{
    width: 960px !important;
}

body{
    background:#282828;
    font-family:'Roboto Regular', Roboto;
    font-style: normal;
    font-weight:400;
}

.roboto-black-text{
    font-family:'Roboto Black', Roboto;
    font-style: normal;
    font-weight:900;
}

.roboto-bold-text{
    font-family:'Roboto Bold', Roboto;
    font-style: normal;
    font-weight:700;
}

.roboto-regular-text{
    font-family:'Roboto Regular', Roboto;
    font-style: normal;
    font-weight:400;
}

.roboto-light-text{
    font-family:'Roboto Light', Roboto;
    font-style: normal;
    font-weight:300;
}

.nopadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.right{
    float: right;
 }

.left{
    float:left;
}

.text-align-right{
    text-align: right;
}

.circular-45 {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
}

.horizontal-list{
    padding-left: 0px;
    padding-right: 0px;
    overflow:hidden;
    list-style: none;
}

.horizontal-list li{
    float:left;
}

.white-text{
    color: #ffffff;
}

.black-text{
    color: #000000;
}

.upreader-blue-text{
    color: #26ade4;
}

.green-button-link{
    color:#ffffff;
    text-decoration: none;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:none;
    font-size:18px;
    background:#85ab00;
    padding: 5px 5px 5px 5px;
}    
    .green-button-link:visited, green-button-link:link, green-button-link:active
    {
        color: #ffffff;
        text-decoration: none;
    }
    .green-button-link:hover{
        color: inherit;
        text-decoration: none;

    }

/******************************************************/
/*****************HEADER STYLES***********************/
/******************************************************/
header{
    background-color:#212121;
    height:52px;
}

.header-button-link{
    color: inherit;
}
    .header-button-link:visited, header-button-link:link, header-button-link:active
    {
        color: inherit;
        text-decoration: none;
    }
    .header-button-link:hover{
        color: #85ab00;
    }

#logo{
    margin-top:12px;
    padding-right: 0px;
}

#header-upreader{
    float:left;
}

#header-home-link{
    float:right;
    padding-right: 5px;
}

.header-divider{
    float: left;
    padding-right:10px;
}

.last-header-divider{
    padding-left: 5px;
}

.header-text-large{
    padding-top:10px;
    font-size:18px;
    line-height:1;
    float:left;
}

.header-text-small{
    font-size:13px;
    line-height:0.1;
    float:left;
}

.header-profile-text-hello{
    padding-top:10px;
    font-size:13px;
    line-height:1;
    float:left;
}

.header-profile-text-user{
    font-size: 14px;
    position: absolute;
    padding-top: 30px;
    padding-left: 5px;
    word-wrap: break-word;
    width: 75px;
}

.header-search{
    float:left;
    margin-top:14px;
    height: 21px;
    width: 21px;
    background: url('../img/icons/search.png');
}
    .header-search:hover{
        height: 21px;
        width: 21px;
        background: url('../img/icons/searchOnHover.png');
    }

/******************************************************/
/*****************BANNER STYLES***********************/
/******************************************************/
.homepage-banner{
    background:url("../img/homepage/banner.png");
    height: 500px;
}
.banner-upper-text{
    color: #ffffff;
    padding-top:30px;
    font-size: 20px;
}

.banner-middle-text{
    color: #ffffff;
    padding-top:170px;
    font-size: 35px;
    line-height:0.9;
}

.banner-lower-text{
    color: #ffffff;
    font-size: 20px;
}


/******************************************************/
/*****************HOMEPAGE MAINCONTENT STYLES**********/
/******************************************************/
.homepage-main-content{
    background:#ffffff;
    height:500px;
}

.homepage-project-cards{
    background:#eaeaea;
    overflow: hidden;
    padding-left: 10px;
    padding-bottom:20px;
}
    .homepage-project-cards h1{
        padding-left: 15px;
    }

.homepage-cfacebook-content{
    background: url('../img/homepage/connFacebook.png');
    height: 400px;
}