body {
	background: none repeat scroll 0% 0% #FFFFFF;
	font: 16px/1.5 Helvetica, Arial, FreeSans, sans-serif;
	color: rgb(18, 26, 13);
	margin: 0px;
	padding: 0px;
	border: 0px none;
}

a:link,a:visited {
	text-decoration: none;
}

a:hover,a:active {
	text-decoration: underline;
}

/* Top bar styles */
div.loginBar {
	width: 100%;
	height: 40px;
	background-color: #F3E2A9;
}

div.loginLink {
	float: right;
	position: relative;
	right: 30px;
	top: 5px;
}

div.loginLink a {
	font-weight: bold;
}

div.logo {
	float: left;
	position: relative;
	left: 30px;
	top: 5px;
	font-weight: bold;
}

/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
} 
.colleft {
	float:left;
	width:100%;
	position:relative;
} 

.col1,
.col2 {
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
} 

/* 2 Column (left menu) settings */
.leftmenu {
}
.leftmenu .colleft {
	right:75%;			/* left column width */
}
.leftmenu .col1 {
	width:71%;			/* right column content width */
	left:102%;			/* 100% plus left column left padding */
}
.leftmenu .col2 {
	width:15%;			/* left column content width (column width minus left and right padding) */
	left:6%;			/* (right column left and right padding) plus (left column left padding) */
} 

/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
	bottom:0x;
}
#footer p {
	padding:10px;
	margin:0;
}