.page-view-project {
    padding-bottom: 20px;
}

.page-header {
    margin: 0 auto;
    width: 1024px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.user-profile {
    display: inline-block;
}

.user-profile-photo-wrapper {
    display: inline-block;
}

.user-profile-photo {
    display: block;
}

.user-profile-photo-img {
    display: block;
    width: 100px !important;
    height: 130px !important;
}

.user-profile-details-wrapper {
    display: inline-block;
    overflow: hidden;
    margin-top: 15px;
    margin-left: 5px;
}

.user-profile-details {
    vertical-align: middle;
}

.user-profile-name, .user-profile-rating, .user-profile-profile, user-profile-profile-bar {
    display: block;
}

.user-profile-profile {
    margin-top: 10px;
}

.user-projects {
    margin-left: 50px;
    display: inline-block;
}

.user-actions {
    margin-left: 50px;
    display: inline-block;
}

.project-content {
    margin: 0 auto;
    width: 1024px;
    padding: 25px 15px;
}

.project-content-sidebar {
    display: inline;
    float: left;
    width: 220px;
}

.project-content-main {
    display: inline;
    float: left;
    width: 715px;
    margin-left: 20px;
}

.sidebar-status ul {

}

.sidebar-status ul li {
    list-style-image: none;
    list-style-type: none;
    margin-bottom: 15px;
}

.image-text-box {
    overflow: auto;
}

.image-text-box div {
    text-align: left;
}

.image-text-box .image-text-box-image {
    float: left;
}

.image-text-box .image-text-box-image img {
    display: block;
}

.image-text-box .image-text-box-text {
    margin-left: 35px;
}

.sidebar-timeleft {
    text-align: center;
}

.royaltystock-details .image-text-box-text,
.sharestotal-details .image-text-box-text {
    text-align: center;
}

.sidebar-derivatives {
    margin-top: 25px;
}

.sidebar-contract {
    margin-top: 25px;
}

.sidebar-publishers {
    margin-top: 25px;
}

.sidebar-publishers-box {
    font-size: 12px;
    border: 1px solid #333333;
    padding: 10px;
}

.sidebar-publishers-box img {
    float: right;
    margin-top: 5px;
}

.sidebar-promopacks {
    margin-top: 25px;
}

.promopack .image-text-box-text {
    font-size: 12px;
    text-align: left;
}

.promopack-shareholder .image-text-box-image {
    width: 20px;
}

.promopack-shareholder .image-text-box-text {
    font-size: 12px;
}

.sidebar-user-status {
    margin-top: 25px;
}

.sidebar-userstatus p {
    font-size: 12px;
}

.sidebar-dividend-stats {
    margin-top: 25px;
}

.sidebar-opened {
    margin-top: 25px;
}

.sidebar-irs-stats {
    margin-top: 25px;
}

.sidebar-soldbooks {
    margin-top: 25px;
}
/** Main Column Start **/
.project-content-main {
    display: inline;
    float: left;
    width: 715px;
    margin-left: 20px;
}

.story-header-details {
    margin-left: 300px;
}

.story-synopsis {
    font-size: 12px;
    height: 225px;
    overflow: auto;
}

.story-buy-box {
    border: 1px solid #333;
    padding: 8px 30px;
    overflow: hidden;
}

.story-buy-box div {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
}

.story-buy-box-type {
}

.story-buy-box-price {
    margin-left: 60px;
}

.story-buy-box-future {
    margin-left: 60px;
}

.story-buy-ebook, .story-buy-shares {
    margin-top: 11px;
}

.story-types-wrapper {
    margin-top: 10px;
}

.story-types-table {
    border: 1px solid #333333;
    font-size: 13px;
    width: 100%;
}

.story-types-table td,
.story-types-table th {
    border-bottom: none;
    border-left: 1px solid #333;
    text-align: center;
}

.story-types-table th {
    background-color: #ddd;
}

.story-read-wrapper {
    margin-top: 10px;
    border: 1px solid #333333;
    overflow: hidden;
}

.story-read-button {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.story-read-button .button-white {
    width: 200px;
    font-weight: normal;
}

.story-promo-item-wrapper {
    margin-top: 20px;
}

.story-promo-item {
    margin-bottom: 20px;
    overflow: hidden;
    position: static;
    width: 100%;
}

.story-promo-item-content {
    margin: 10px 0;
    clear: both;
    position: static;
}

.story-promo-item-social {
    margin-top: 12px;
    padding-top: 5px;
}

.story-promo-item-social p {
    text-align: right;
}

.story-promo-item-social p span {
    display: inline-block;
}

.story-promo-item-end {
    text-align: center;
}
/** Main Column End **/