<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns:resin="urn:java:com.caucho.resin" xmlns:upreader="urn:java:com.upreader.security">
    <display-name>upreader</display-name>

    <!-- These lines will force assets to be served be resin -->
    <servlet-mapping url-pattern="/css/*" servlet-name="resin-file"/>
    <servlet-mapping url-pattern="/js/*" servlet-name="resin-file"/>
    <servlet-mapping url-pattern="/images/*" servlet-name="resin-file"/>
    <servlet-mapping url-pattern="/html/*" servlet-name="resin-file"/>
    <servlet-mapping url-pattern="favicon.ico" servlet-name="resin-file"/>

    <servlet-mapping url-pattern="/WEB-INF/jsp/*.jsp" servlet-name="resin-jsp"/>
    <servlet-mapping url-pattern="/WEB-INF/jsp/*.jspf" servlet-name="resin-jsp"/>
    <servlet-mapping url-pattern="/WEB-INF/jsp/*.jspx" servlet-name="resin-jspx"/>

    <!-- Disallow URL rewriting for sessions. -->
    <session-config enable-url-rewriting="false">
        <cookie-domain>upreader.com</cookie-domain>
    </session-config>

    <!-- Use UTF-8 for everything. -->
    <character-encoding>UTF-8</character-encoding>

    <resin:FormLogin form-login-page="/p/login" form-error-page="/p/login?failed=1" form-uri-priority="true"/>

    <!-- new project page only for authenticated users -->
    <resin:Allow url-pattern="/p/newproject1">
        <resin:IfUserInRole role="*"/>
    </resin:Allow>

    <!-- /admin is only allowed for admin role -->
    <resin:Allow url-pattern="/p/admin/*">
        <resin:IfUserInRole role="admin"/>
    </resin:Allow>

    <upreader:Authenticator>
        <resin:password-digest>MD5-plain</resin:password-digest>
        <resin:data-source>jdbc/mysql</resin:data-source>
        <resin:password-query>
            SELECT password FROM users WHERE email=?
        </resin:password-query>
        <resin:role-query>
            SELECT roles FROM users WHERE email=?
        </resin:role-query>
    </upreader:Authenticator>

    <error-page error-code="404" location="/p/404"/>
    <error-page error-code="500" location="/p/500"/>

    <welcome-file-list>
        <welcome-file>p/home</welcome-file>
    </welcome-file-list>

    <!-- Dandelion-Datatables servlet definition -->
    <servlet>
        <servlet-name>datatablesController</servlet-name>
        <servlet-class>com.github.dandelion.datatables.extras.servlet2.servlet.DatatablesServlet</servlet-class>
    </servlet>

    <!-- Dandelion-Datatables servlet mapping -->
    <servlet-mapping>
        <servlet-name>datatablesController</servlet-name>
        <url-pattern>/datatablesController/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>
            org.apache.commons.fileupload.servlet.FileCleanerCleanup
        </listener-class>
    </listener>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/p/login</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>